<div class="loader" id="loader">
    <img src="asset/img/loader.gif">
</div>
<section class="detailSuppliers">
	<div class="detail-head">
		<div class="pageName">
			<a ui-sref="home">Home </a><span>/</span>
			<a ui-sref="suppliers">Suplliers</a><span>/</span>
			<a ui-sref="details" class="active">Details</a>
		</div>
	</div>
	<div class="details">
		<div class="container">
			<div class="title">
				<h1 class="car-name inline-block">HYUNDAI SANTA FE</h1>
				<h4 class="inline-block short-description">Hyundai HTRAC AWD gives you added vehicle control and handling for a variety of driving situations and weather conditions</h4>
				<span class="defultColor price">$ 69,995 <i>Plus Dliver & Licensing</i></span>
			</div>
			<div class="row" style="    margin-bottom: 50px;">
				<div class="col-sm-12 col-md-8">
					<section id="slider" class="carousel slide" data-ride="carousel">
					    <ul class="carousel-indicators">
					        <li data-target="#slider" data-slide-to="0" class="active"></li>
					        <li data-target="#slider" data-slide-to="1"></li>
					        <li data-target="#slider" data-slide-to="2"></li>
					        <li data-target="#slider" data-slide-to="3"></li>
					        <li data-target="#slider" data-slide-to="4"></li>
					        <li data-target="#slider" data-slide-to="5"></li>
					    </ul>
					    <div class="carousel-inner" style="border-radius: 20px;">
					        <div class="carousel-item active">
					            <img src="asset/img/hyndai1.png">
					        </div>
					        <div class="carousel-item">
					            <img src="asset/img/hyndai2.png">
					        </div>
					        <div class="carousel-item">
					            <img src="asset/img/hyndai3.png">
					        </div>
					        <div class="carousel-item">
					            <img src="asset/img/hyndai4.png">
					        </div>
					        <div class="carousel-item">
					            <img src="asset/img/hyndai5.png">
					        </div>
					        <div class="carousel-item">
					            <img src="asset/img/hyndai6.png">
					        </div>
					    </div>
					</section>
					<section class="moreDetails">
						<div class="description">
							<h3>Description</h3>
							<p>With the 60/40 power push-button fold-down rear seats you have the flexibility to quickly and easily increase the cargo area.
							The available Heads-up Display puts instantly updated information in the driver’s line of sight above the steering wheel so you don’t have to take your eyes off the road.
							Charge up your mobile devices by simply setting phones on the available device charging pad. Plus, the space looks cleaner without the cords.
							The available panoramic sunroof completely transforms the interior by adding light and the feeling of increased space. Its shade can be adjusted to increase ambient light in the cabin or its glass panels opened up for added fresh air.
							</p>
						</div>
						<div class="extraFeuture">
							<h3>EXTRA FEATURE</h3>
							<div class="row">
								<div class="col-sm-4 col-md-4">
									<ul>
										<li><i class="fa fa-check" aria-hidden="true"></i> Security System</li>
										<li><i class="fa fa-check" aria-hidden="true"></i> Air conditioning</li>
										<li><i class="fa fa-check" aria-hidden="true"></i> Alloy Wheels</li>
										<li><i class="fa fa-check" aria-hidden="true"></i> Anti-Lock Brakes (ABS)</li>
										<li><i class="fa fa-check" aria-hidden="true"></i> Anti-Theft</li>
									</ul>
								</div>
								<div class="col-sm-4 col-md-4">
									<ul>
										<li><i class="fa fa-check" aria-hidden="true"></i> Anti-Starter</li>
										<li><i class="fa fa-check" aria-hidden="true"></i> Security System</li>
										<li><i class="fa fa-check" aria-hidden="true"></i>  Air conditioning</li>
										<li><i class="fa fa-check" aria-hidden="true"></i> Alloy Wheels</li>
										<li><i class="fa fa-check" aria-hidden="true"></i> Anti-Theft</li>
									</ul>
								</div>
								<div class="col-sm-4 col-md-4">
									<ul>
										<li><i class="fa fa-check" aria-hidden="true"></i> Security System</li>
										<li><i class="fa fa-check" aria-hidden="true"></i> Air conditioning</li>
										<li><i class="fa fa-check" aria-hidden="true"></i>  Alloy Wheels</li>
										<li><i class="fa fa-check" aria-hidden="true"></i> Anti-Theft</li>
										<li><i class="fa fa-check" aria-hidden="true"></i> Anti-Starter</li>
									</ul>
								</div>								
							</div>
						</div>
						<div class="recentVehycle">
							<h3>RECENTLY VEHICLE</h3>
							<div class="row" style="margin-top: 30px;">
								<div class="col-sm-6 col-md-6">
									<div class="item">
					                    <div class="top-item">
					                        <div class="img">
					                            <img src="asset/img/item-3.jpg">
					                        </div>
					                        <ul class="info">
					                            <li>
					                                <i class="fa fa-registered" aria-hidden="true"></i>
					                                2015
					                            </li>
					                            <li>
					                                <i class="fa fa-cog" aria-hidden="true"></i>
					                                Manual
					                            </li>
					                            <li>
					                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
					                                NEW
					                            </li>
					                        </ul>
					                    </div>
					                    <div class="butttom-item">
					                        <h5>Toyota avalon hybrid</h5>
					                        <div class="rate">
					                            <ul>
					                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
					                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
					                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
					                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
					                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
					                            </ul>
					                        </div>
					                    </div>
					                </div>
								</div>
								<div class="col-sm-6 col-md-6">
									<div class="item">
					                    <div class="top-item">
					                        <div class="img">
					                            <img src="asset/img/item-6.jpg">
					                        </div>
					                        <ul class="info">
					                            <li>
					                                <i class="fa fa-registered" aria-hidden="true"></i>
					                                2015
					                            </li>
					                            <li>
					                                <i class="fa fa-cog" aria-hidden="true"></i>
					                                Manual
					                            </li>
					                            <li>
					                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
					                                NEW
					                            </li>
					                        </ul>
					                    </div>
					                    <div class="butttom-item">
					                        <h5>Toyota avalon hybrid</h5>
					                        <div class="rate">
					                            <ul>
					                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
					                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
					                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
					                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
					                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
					                            </ul>
					                        </div>
					                    </div>
					                </div>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-sm-12 col-md-4">
					<div class="information">
						<div class="detail-info">
							<h3>information</h3>
							<ul>
								<li>
									<span>Brand</span>
									<strong>Hynday</strong>
								</li>
								<li>
									<span>Model</span>
									<strong>7-series</strong>
								</li>
								<li>
									<span>Registration date</span>
									<strong>2019</strong>
								</li>
								<li>
									<span>Mileage</span>
									<strong>25,000 mi</strong>
								</li>
								<li>
									<span>Condition</span>
									<strong>New</strong>
								</li>
								<li>
									<span>Exterior Color</span>
									<strong>white</strong>
								</li>
								<li>
									<span>Transmission</span>
									<strong>Automatic</strong>
								</li>
								<li>
									<span>Exterior Color</span>
									<strong>white</strong>
								</li>
							</ul>
						</div>
						<div class="social">
							<h3>SHARE NOW</h3>
							<a href=""><img src="asset/img/facebook.png"> FaceBook</a>
							<a href=""><img src="asset/img/twitter.png"> Twitter</a>
							<a href=""><img src="asset/img/instgram.png"> Instgram</a>
						</div>
						<div class="comment">
							<h3>SEND Comment</h3>
							<div ng-show="messageSuccess" class="alert alert-success">Comment sent successfully</div>
							<form name="formComment" novalidate="">
								<div class="row">
									<div class="col-md-12">
					                    <div class="form-group">
					                        <label>Name *</label>
					                        <input type="text" name="name" class="form-control" ng-model="comment.name" placeholder="Enter Your Name" required>
					                        <span class="required" ng-show="formComment.name.$invalid && formCommentInvalid">This faild is required *</span>
					                    </div>
					                </div>
					                <div class="col-md-12">
					                    <div class="form-group">
					                        <label>Email *</label>
					                        <input type="email" name="email" class="form-control" ng-model="comment.email" placeholder="Enter Your Email" required>
					                        <span class="required" ng-show="formComment.email.$error.required && formCommentInvalid">This faild is required *</span>
											<span class="required" ng-show="formComment.email.$error.email && formCommentInvalid">Invalid email address.</span>
					                    </div>
					                </div>
					                <div class="col-md-12">
					                    <div class="form-group">
					                        <label>Telephone *</label>
					                        <input type="text" name="telephone" class="form-control" ng-model="comment.telephone" placeholder="Enter your Telephone" required>
					                        <span class="required" ng-show="formComment.telephone.$invalid && formCommentInvalid">This faild is required *</span>
					                    </div>
					                </div>
					                <div class="col-md-12">
					                    <div class="form-group">
					                        <label>Comment *</label>
					                        <textarea type="text" name="comment" class="form-control" ng-model="comment.comment" placeholder="Enter your Comment" required></textarea>
					                        <span class="required" ng-show="formComment.comment.$invalid && formCommentInvalid">This faild is required *</span>
					                    </div>
					                </div>
					                <div class="col-md-12">
					                    <div class="form-group">
					                        <button class="btn btn-comment" ng-click="empty()">Send Comment</button>
					                    </div>
					                </div>
								</div>
							</form>
						</div>
						<div class="enquiry">
							<h3>Send Enquiry</h3>
							<button type="button" class="btn btn-enquiry" data-toggle="modal" data-target="#buyCar">Buy Car</button>
							<button class="btn btn-enquiry" data-toggle="modal" data-target="#buyCar">Borrow Car</button>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>
<div class="modal fade" id="buyCar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Buy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
        	<div class="row">
				<div class="col-md-12">
                    <div class="form-group">
                        <label>Name *</label>
                        <input type="text" name="name" class="form-control" placeholder="Enter Your Name">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Email *</label>
                        <input type="email" name="Email" class="form-control" placeholder="Enter Your Email">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Telephone *</label>
                        <input type="text" name="Telephone" class="form-control" placeholder="Enter your Telephone">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <button class="btn btn-2dfa3" data-dismiss="modal" aria-label="Close">2dfa3 Now</button>
                    </div>
                </div>
			</div>
        </form>
      </div>
    </div>
  </div>
</div>