<div class="loader" id="loader">
    <img src="asset/img/loader.gif">
</div>
<section id="slider" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slider" data-slide-to="0" class="active"></li>
        <li data-target="#slider" data-slide-to="1"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="asset/img/carOne.jpg" alt="Los Angeles" width="1100" height="500">
            <div class="carousel-caption">
                <h3>Welcolme to <span class="defultColor">CarDealer</span></h3>
                <button class="btn-head" ui-sref="suppliers">Buy Car</button>
                <button class="btn-head" ui-sref="suppliers">Borrow Car</button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="asset/img/carTwo.png" alt="Chicago" width="1100" height="500">
            <div class="carousel-caption">
                <h3><span class="defultColor">Any Where</span> and <span class="defultColor">Any Time</span></h3>
                <p>you can Find us any where and any time <br> to  find your dream car</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#slider" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#slider" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</section>

<section id="filter" class="filter">
    <div class="container">
        <div class="row quick-filter">
            <div class="col-xs-6 col-sm-3">
                <a href="">
                    <div class="body">
                        <i class="fa fa-car"></i>
                        <h6>New Vehicles</h6>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="">
                    <div class="body">
                        <i class="fa fa-car"></i>
                        <h6>used Vehicles</h6>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="">
                    <div class="body">
                        <i class="fa fa-car"></i>
                        <h6>Borrow Vehicles</h6>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="">
                    <div class="body">
                        <i class="fa fa-car"></i>
                        <h6>Vehicles</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>    
</section>

<section id="search" class="search">
    <div class="container">
        <div class="title">
            <h2>Find A Dream Car</h2>        
        </div>
        <div class="row">
            <div class="col-md-7">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Select Brand</label>
                                <select class="form-control" placeholder="Make">
                                    <option>BMW</option>
                                    <option>Fiat</option>
                                    <option>Honda</option>
                                    <option>Hyundai</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Select model</label>
                            <div class="form-group" placeholder="Model">
                                <select class="form-control">
                                    <option>hynday</option>
                                    <option>Fiat</option>
                                    <option>Honda</option>
                                    <option>Hyundai</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Select Year</label>
                                <select class="form-control" placeholder="Year">
                                    <option>2012</option>
                                    <option>2013</option>
                                    <option>2014</option>
                                    <option>2015</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Vehicle Status</label>
                                <select class="form-control" placeholder="Vehicle Status">
                                    <option>new</option>
                                    <option>Fiat</option>
                                    <option>Honda</option>
                                    <option>Hyundai</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button class="btn btn-search" ui-sref="suppliers">Search the Vehicle</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5">
                <img src="asset/img/searchGirl.png" class="search-girl">
            </div>
        </div>
    </div>
</section>

<div class="title text-center">
    <h2>WELCOME TO THE CAR DEALER</h2>
</div>
<section class="aboutUs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="offset-md-5 col-md-7">
                    <div class="document">
                        <p class="first">perceptive-mind developed this site to find your dream car.</p>
                        <p><i> We hope that all customers will get the dream car they dream of with the least effort.<br>
                        Where we provide the customer the car he is looking for either to buy or to borrow at the lowest cost possible.</i></p>
                        <span>
                            Perciptive-mind team
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 statistic">
                <div class="row text-center">
                    <div class="col-sm-3">
                        <h5>VEHICLES IN STOCK</h5>
                        <div class="num">
                            <i class="fa fa-car" aria-hidden="true"></i>
                            <span>556</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h5>DEALER REVIEWS</h5>
                        <div class="num">
                            <i class="fa fa-comment" aria-hidden="true"></i>

                            <span>556</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h5>HAPPY CUSTOMER</h5>
                        <div class="num">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span>556</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h5>AWARDS</h5>
                        <div class="num">
                            <i class="fa fa-trophy" aria-hidden="true"></i>
                            <span>556</span>
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
    </div>
</section>

<div class="title text-center">
    <h2>DREAM CARS</h2>
</div>

<section class="supliers">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 mb-20">
                <div class="item">
                    <div class="price-tag">
                        4444$
                    </div>
                    <div class="top-item">
                        <div class="img">
                            <img src="asset/img/item-1.jpg">
                        </div>
                        <ul class="info">
                            <li>
                                <i class="fa fa-registered" aria-hidden="true"></i>
                                2015
                            </li>
                            <li>
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                Manual
                            </li>
                            <li>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                NEW
                            </li>
                        </ul>
                    </div>
                    <div class="butttom-item">
                        <h5>Toyota avalon hybrid</h5>
                        <div class="description">
                            <p>Underneath RAV4’s rugged good looks are capabilities that reveal the potential of where you can go, on- or off-road.</p>
                        </div>
                        <div class="rate">
                            <ul>
                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
                               <li>(5)</li>
                            </ul>
                        </div>
                        <div class="view">
                            <a ui-sref="details">View details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-20">
                <div class="item">
                    <div class="price-tag">
                        1244$
                    </div>
                    <div class="top-item">
                        <div class="img">
                            <img src="asset/img/item-2.jpg">
                        </div>
                        <ul class="info">
                            <li>
                                <i class="fa fa-registered" aria-hidden="true"></i>
                                2015
                            </li>
                            <li>
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                Manual
                            </li>
                            <li>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                NEW
                            </li>
                        </ul>
                    </div>
                    <div class="butttom-item">
                        <h5>Toyota avalon hybrid</h5>
                        <div class="description">
                            <p>Underneath RAV4’s rugged good looks are capabilities that reveal the potential of where you can go, on- or off-road.</p>
                        </div>
                        <div class="rate">
                            <ul>
                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
                               <li>(20)</li>
                            </ul>
                        </div>
                        <div class="view">
                            <a ui-sref="details">View details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-20">
                <div class="item">
                    <div class="price-tag">
                        1294$
                    </div>
                    <div class="top-item">
                        <div class="img">
                            <img src="asset/img/item-3.jpg">
                        </div>
                        <ul class="info">
                            <li>
                                <i class="fa fa-registered" aria-hidden="true"></i>
                                2015
                            </li>
                            <li>
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                Manual
                            </li>
                            <li>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                NEW
                            </li>
                        </ul>
                    </div>
                    <div class="butttom-item">
                        <h5>Toyota avalon hybrid</h5>
                        <div class="description">
                            <p>Underneath RAV4’s rugged good looks are capabilities that reveal the potential of where you can go, on- or off-road.</p>
                        </div>
                        <div class="rate">
                            <ul>
                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
                               <li>(21)</li>
                            </ul>
                        </div>
                        <div class="view">
                            <a ui-sref="details">View details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-20">
                <div class="item">
                    <div class="price-tag">
                        14784$
                    </div>
                    <div class="top-item">
                        <div class="img">
                            <img src="asset/img/item-4.jpg">
                        </div>
                        <ul class="info">
                            <li>
                                <i class="fa fa-registered" aria-hidden="true"></i>
                                2015
                            </li>
                            <li>
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                Manual
                            </li>
                            <li>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                NEW
                            </li>
                        </ul>
                    </div>
                    <div class="butttom-item">
                        <h5>Toyota avalon hybrid</h5>
                        <div class="description">
                            <p>Underneath RAV4’s rugged good looks are capabilities that reveal the potential of where you can go, on- or off-road.</p>
                        </div>
                        <div class="rate">
                            <ul>
                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
                               <li>(1)</li>
                            </ul>
                        </div>
                        <div class="view">
                            <a ui-sref="details">View details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-20">
                <div class="item">
                    <div class="price-tag">
                        47854$
                    </div>
                    <div class="top-item">
                        <div class="img">
                            <img src="asset/img/item-5.jpg">
                        </div>
                        <ul class="info">
                            <li>
                                <i class="fa fa-registered" aria-hidden="true"></i>
                                2015
                            </li>
                            <li>
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                Manual
                            </li>
                            <li>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                NEW
                            </li>
                        </ul>
                    </div>
                    <div class="butttom-item">
                        <h5>Toyota avalon hybrid</h5>
                        <div class="description">
                            <p>Underneath RAV4’s rugged good looks are capabilities that reveal the potential of where you can go, on- or off-road.</p>
                        </div>
                        <div class="rate">
                            <ul>
                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
                               <li>(57)</li>
                            </ul>
                        </div>
                        <div class="view">
                            <a ui-sref="details">View details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-20">
                <div class="item">
                    <div class="price-tag">
                        2558$
                    </div>
                    <div class="top-item">
                        <div class="img">
                            <img src="asset/img/item-6.jpg">
                        </div>
                        <ul class="info">
                            <li>
                                <i class="fa fa-registered" aria-hidden="true"></i>
                                2015
                            </li>
                            <li>
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                Manual
                            </li>
                            <li>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                NEW
                            </li>
                        </ul>
                    </div>
                    <div class="butttom-item">
                        <h5>Toyota avalon hybrid</h5>
                        <div class="description">
                            <p>Underneath RAV4’s rugged good looks are capabilities that reveal the potential of where you can go, on- or off-road.</p>
                        </div>
                        <div class="rate">
                            <ul>
                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
                               <li>(15)</li>
                            </ul>
                        </div>
                        <div class="view">
                            <a ui-sref="details">View details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 text-center">
                <div class="see-more">
                    <a ui-sref="suppliers">See More <i class="fa fa-arrow-right" aria-hidden="true" style="margin-left: 10px;"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="want-use-new">
    <div class="row" style="margin: 0;">
        <div class="col-md-6 content-right">
            <div class="content-info">
                <a href="">Are you looking for a New car?</a>
                <p>Search your car in our Inventory and request a quote on the vehicle of your choosing. </p>
            </div>
            <div class="content-img">
                <i class="fa fa-car"></i>
                <img src="asset/img/want-2.jpg">
            </div>
        </div>
        <div class="col-md-6 content-left">
            <div class="content-info">
                <a href="">Are you looking to borrow a Car?</a>
                <p>Search your car in our Inventory and request a quote on the vehicle of your choosing. </p>
            </div>
            <div class="content-img">
                <i class="fa fa-user" aria-hidden="true"></i>
                <img src="asset/img/want-1.jpg">
            </div>
        </div>
    </div>
</section>

<section class="choose-us">
    <div class="container">
        <div class="title text-center">
            <p>Because We are ultra creative agency</p>
            <h3>WHY CHOOSE US ?</h3>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="content">
                    <i class="fa fa-car"></i>
                    <h4>ALL BRANDS</h4>
                    <p>So you find what you want easily we put all the brands you will need, whether new or used.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="content">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    <h4>FREE SUPPORT</h4>
                    <p>In order to always be comfortable, we will be able to communicate with you at any time without charge.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="content">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <h4>DEALERSHIP</h4>
                    <p>Where you can order the car you want and will receive you as soon as possible.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="content">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                    <h4>AFFORDABLE</h4>
                    <p>Where you can order the car and pay directly from your place in a safe way.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="content">
                    <i class="fa fa-handshake" aria-hidden="true"></i>
                    <h4>TRANSMISSION</h4>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem acantium doloremque laudantium.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="content">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    <h4>Maintenance</h4>
                    <p>We guarantee that you will have a free, continuous, maximum, free, and always free maintenance.</p>
                </div>
            </div>
        </div>
    </div>
</section>