<div class="loader" id="loader">
    <img src="asset/img/loader.gif">
</div>
<section class="suppliersPage">
	<div class="head-suppliers">
		<div class="pageName">
			<a ui-sref="home">Home </a><span>/</span>
			<a ui-sref="suppliers" class="active">Suplliers</a>
		</div>
	</div>
	<section class="searchSupplier">
		<div class="container">
			<form>
	            <div class="row">
	                <div class="col-sm-6 col-md-3">
	                    <div class="form-group">
	                        <label>Select Brand</label>
	                        <select class="form-control" placeholder="Make">
	                            <option>BMW</option>
	                            <option>Fiat</option>
	                            <option>Honda</option>
	                            <option>Hyundai</option>
	                        </select>
	                    </div>
	                </div>
	                <div class="col-sm-6 col-md-3">
	                    <label>Select Model</label>
	                    <div class="form-group" placeholder="Model">
	                        <select class="form-control">
	                            <option>BMW</option>
	                            <option>Fiat</option>
	                            <option>Honda</option>
	                            <option>Hyundai</option>
	                        </select>
	                    </div>
	                </div>
	                <div class="col-sm-6 col-md-3">
	                    <div class="form-group">
	                        <label>Select Year</label>
	                        <select class="form-control" placeholder="Year">
	                            <option>2012</option>
	                            <option>2013</option>
	                            <option>2014</option>
	                            <option>2015</option>
	                            <option>2016</option>
	                            <option>2017</option>
	                            <option>2018</option>	                            
	                            <option>2019</option>	                         	                                                       
	                        </select>
	                    </div>
	                </div>
	                <div class="col-sm-6 col-md-2">
	                    <div class="form-group">
	                        <label>Vehicle Status</label>
	                        <select class="form-control" placeholder="Vehicle Status">
	                            <option>New</option>
	                            <option>Fiat</option>
	                            <option>Honda</option>
	                            <option>Hyundai</option>
	                        </select>
	                    </div>
	                </div>
	                <div class="col-md-1">
	                    <div class="form-group">
	                        <button class="btn btn-search-supplier"><i class="fa fa-search" aria-hidden="true"></i></button>
	                    </div>
	                </div>
	            </div>
	        </form>
		</div>
	</section>
	<section class="supliers">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-6 col-md-4 mb-20">
	                <div class="item">
	                    <div class="price-tag">
	                        4444$
	                    </div>
	                    <div class="top-item">
	                        <div class="img">
	                            <img src="asset/img/item-1.jpg">
	                        </div>
	                        <ul class="info">
	                            <li>
	                                <i class="fa fa-registered" aria-hidden="true"></i>
	                                2015
	                            </li>
	                            <li>
	                                <i class="fa fa-cog" aria-hidden="true"></i>
	                                Manual
	                            </li>
	                            <li>
	                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
	                                NEW
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="butttom-item">
	                        <h5>Toyota avalon hybrid</h5>
	                        <div class="description">
	                            <p>Underneath RAV4’s rugged good looks are capabilities that reveal the potential of where you can go, on- or off-road.</p>
	                        </div>
	                        <div class="rate">
	                            <ul>
	                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
	                               <li>(5)</li>
	                            </ul>
	                        </div>
	                        <div class="view">
	                            <a ui-sref="details">View details</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="col-sm-6 col-md-4 mb-20">
	                <div class="item">
	                    <div class="price-tag">
	                        1244$
	                    </div>
	                    <div class="top-item">
	                        <div class="img">
	                            <img src="asset/img/item-2.jpg">
	                        </div>
	                        <ul class="info">
	                            <li>
	                                <i class="fa fa-registered" aria-hidden="true"></i>
	                                2015
	                            </li>
	                            <li>
	                                <i class="fa fa-cog" aria-hidden="true"></i>
	                                Manual
	                            </li>
	                            <li>
	                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
	                                NEW
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="butttom-item">
	                        <h5>Toyota avalon hybrid</h5>
	                        <div class="description">
	                            <p>Underneath RAV4’s rugged good looks are capabilities that reveal the potential of where you can go, on- or off-road.</p>
	                        </div>
	                        <div class="rate">
	                            <ul>
	                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
	                               <li>(20)</li>
	                            </ul>
	                        </div>
	                        <div class="view">
	                            <a ui-sref="details">View details</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="col-sm-6 col-md-4 mb-20">
	                <div class="item">
	                    <div class="price-tag">
	                        1294$
	                    </div>
	                    <div class="top-item">
	                        <div class="img">
	                            <img src="asset/img/item-3.jpg">
	                        </div>
	                        <ul class="info">
	                            <li>
	                                <i class="fa fa-registered" aria-hidden="true"></i>
	                                2015
	                            </li>
	                            <li>
	                                <i class="fa fa-cog" aria-hidden="true"></i>
	                                Manual
	                            </li>
	                            <li>
	                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
	                                NEW
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="butttom-item">
	                        <h5>Toyota avalon hybrid</h5>
	                        <div class="description">
	                            <p>Underneath RAV4’s rugged good looks are capabilities that reveal the potential of where you can go, on- or off-road.</p>
	                        </div>
	                        <div class="rate">
	                            <ul>
	                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
	                               <li>(21)</li>
	                            </ul>
	                        </div>
	                        <div class="view">
	                            <a ui-sref="details">View details</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="col-sm-6 col-md-4 mb-20">
	                <div class="item">
	                    <div class="price-tag">
	                        14784$
	                    </div>
	                    <div class="top-item">
	                        <div class="img">
	                            <img src="asset/img/item-4.jpg">
	                        </div>
	                        <ul class="info">
	                            <li>
	                                <i class="fa fa-registered" aria-hidden="true"></i>
	                                2015
	                            </li>
	                            <li>
	                                <i class="fa fa-cog" aria-hidden="true"></i>
	                                Manual
	                            </li>
	                            <li>
	                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
	                                NEW
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="butttom-item">
	                        <h5>Toyota avalon hybrid</h5>
	                        <div class="description">
	                            <p>Underneath RAV4’s rugged good looks are capabilities that reveal the potential of where you can go, on- or off-road.</p>
	                        </div>
	                        <div class="rate">
	                            <ul>
	                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
	                               <li>(1)</li>
	                            </ul>
	                        </div>
	                        <div class="view">
	                            <a ui-sref="details">View details</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="col-sm-6 col-md-4 mb-20">
	                <div class="item">
	                    <div class="price-tag">
	                        47854$
	                    </div>
	                    <div class="top-item">
	                        <div class="img">
	                            <img src="asset/img/item-5.jpg">
	                        </div>
	                        <ul class="info">
	                            <li>
	                                <i class="fa fa-registered" aria-hidden="true"></i>
	                                2015
	                            </li>
	                            <li>
	                                <i class="fa fa-cog" aria-hidden="true"></i>
	                                Manual
	                            </li>
	                            <li>
	                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
	                                NEW
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="butttom-item">
	                        <h5>Toyota avalon hybrid</h5>
	                        <div class="description">
	                            <p>Underneath RAV4’s rugged good looks are capabilities that reveal the potential of where you can go, on- or off-road.</p>
	                        </div>
	                        <div class="rate">
	                            <ul>
	                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
	                               <li>(57)</li>
	                            </ul>
	                        </div>
	                        <div class="view">
	                            <a ui-sref="details">View details</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="col-sm-6 col-md-4 mb-20">
	                <div class="item">
	                    <div class="price-tag">
	                        2558$
	                    </div>
	                    <div class="top-item">
	                        <div class="img">
	                            <img src="asset/img/item-6.jpg">
	                        </div>
	                        <ul class="info">
	                            <li>
	                                <i class="fa fa-registered" aria-hidden="true"></i>
	                                2015
	                            </li>
	                            <li>
	                                <i class="fa fa-cog" aria-hidden="true"></i>
	                                Manual
	                            </li>
	                            <li>
	                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
	                                NEW
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="butttom-item">
	                        <h5>Toyota avalon hybrid</h5>
	                        <div class="description">
	                            <p>Underneath RAV4’s rugged good looks are capabilities that reveal the potential of where you can go, on- or off-road.</p>
	                        </div>
	                        <div class="rate">
	                            <ul>
	                               <li><i class="fa fa-star star-color" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
	                               <li><i class="fa fa-star" aria-hidden="true"></i></li>
	                               <li>(15)</li>
	                            </ul>
	                        </div>
	                        <div class="view">
	                            <a ui-sref="details">View details</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="col-sm-12 col-md-12 text-center" style="margin: 40px 0;">
	                <div class="pagination">
	                   <ul>
	                   		<li>Previus</li>
	                   		<li>1</li>
	                   		<li class="active">2</li>
	                   		<li>3</li>
	                   		<li>...</li>
	                   		<li>6</li>
	                   		<li>Next</li>
	                   </ul>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
</section>
